// Define base colors and fonts for light and dark themes
:root {
  --bg-primary: #f0f0f0; // Updated light theme background color
  --border-color: #ccc; // Light theme border color
  --code-font: 'Courier New', monospace; // Code font

  // Define light theme specifics
  --text-color: #333;
  --label-background: white;
}

:root.dark {
  --bg-primary: rgb(15, 20, 25); // Dark theme background color
  --border-color: #333; // Dark theme border color

  // Define dark theme specifics
  --text-color: #f0f0f0;
  --label-background: black;
}


// Define language colors map
$language-colors: (
  "js": (#f7df1e, "JavaScript"),
  "yaml": (#f71e6a, "YAML"),
  "shell": (#4eaa25, "Shell"),
  // Updated to a more specific green shade
  "json": (dodgerblue, "JSON"),
  "python": (#3572A5, "Python"),
  // Using the specific Python blue
  "css": (#264de4, "CSS"),
  "go": (#00ADD8, "Go"),
  // Official Go color
  "markdown": (#0000ff, "Markdown"),
  "rust": (#ff4647, "Rust"),
  // Adjusted to match Rust's branding
  "java": (#f89820, "Java"),
  // Oracle Java color
  "csharp": (#178600, "C#"),
  "ruby": (#701516, "Ruby"),
  "swift": (#f05138, "Swift"),
  "php": (#777bb4, "PHP"),
  "typescript": (#3178c6, "TypeScript"),
  "scala": (#c22d40, "Scala"),
  "kotlin": (#F18E33, "Kotlin"),
  "lua": (#000080, "Lua"),
  "perl": (#0298c3, "Perl"),
  "haskell": (#5e5086, "Haskell"),
  "r": (#198ce7, "R"),
  "dart": (#00d2b8, "Dart"),
  "elixir": (#6e4a7e, "Elixir"),
  "clojure": (#5881d8, "Clojure")
);


// Mixin for base label style
@mixin base-label-style($language) {
  $color-info: map-get($language-colors, $language);
  $bg-color: nth($color-info, 1);
  $label: nth($color-info, 2);

  content: $label;
  background: $bg-color;
  color: var(--text-color);
  border-radius: 0 0 0.25rem 0.25rem;
  font-size: 12px;
  letter-spacing: 0.025rem;
  padding: 0.1rem 0.5rem;
  position: absolute;
  right: 0.1rem;
  top: 0;
  margin-top: 0.1rem;
  text-align: right;
  text-transform: uppercase;
}

pre {
  padding: 1em 2em;
  /* Increase right padding to give more space for the button */
  position: relative;
  overflow: auto;
  /* Ensure this does not hide the button */
}


// Dynamic styling for code blocks
code {
  background-color: var(--bg-primary);
  padding: 0.1em 0.2em;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  font-family: var(--code-font);
}

pre {
  background-color: var(--bg-primary) !important;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  line-height: 1.4;
  overflow-x: auto;
  padding: 1em;
  /* Ensure padding is sufficient for icon visibility */
  position: relative;
  -webkit-overflow-scrolling: touch;

  code {
    background-color: transparent !important;
    color: inherit;
    font-size: 100%;
    padding: 0;
    border: none;
  }

  // Apply the base label style and customize based on language
  code[class*="language-"] {
    @each $language, $_ in $language-colors {
      &.language-#{$language}::before {
        @include base-label-style($language);
      }
    }
  }
}

.clipboard-button,
.clipboard-button svg {
  all: unset;
  /* This resets all inherited properties */
  cursor: pointer;
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 10;
  background-color: transparent;
  border: none;
  fill: #ef5350;
  /* Specific color for the icon */
}
