// Define language colors map
$language-colors: (
  "js": (#e9c92c, "JavaScript"),
  "yaml": (#f71e6a, "YAML"),
  "shell": (#4eaa25, "Shell"),
  // Updated to a more specific green shade
  "json": (dodgerblue, "JSON"),
  "python": (#3572A5, "Python"),
  // Using the specific Python blue
  "css": (#264de4, "CSS"),
  "go": (#00ADD8, "Go"),
  // Official Go color
  "markdown": (#0000ff, "Markdown"),
  "rust": (#ff4647, "Rust"),
  // Adjusted to match Rust's branding
  "java": (#f89820, "Java"),
  // Oracle Java color
  "csharp": (#178600, "C#"),
  "ruby": (#701516, "Ruby"),
  "swift": (#f05138, "Swift"),
  "php": (#777bb4, "PHP"),
  "typescript": (#3178c6, "TypeScript"),
  "scala": (#c22d40, "Scala"),
  "kotlin": (#F18E33, "Kotlin"),
  "lua": (#000080, "Lua"),
  "perl": (#0298c3, "Perl"),
  "haskell": (#5e5086, "Haskell"),
  "r": (#198ce7, "R"),
  "dart": (#00d2b8, "Dart"),
  "elixir": (#6e4a7e, "Elixir"),
  "clojure": (#5881d8, "Clojure"),
  "sql": (#ffcc00, "SQL"),
  "bash": (#4eaa25, "Bash"),
);


// Mixin for language label styles
@mixin base-label-style($language) {
  $color-info: map-get($language-colors, $language);
  $bg-color: nth($color-info, 1);
  $label: nth($color-info, 2);

  content: $label;
  background: $bg-color;
  color: #ffffff; // Ensure it is visible
  border-radius: 0.25rem;
  font-size: 12px;
  padding: 0.2rem 0.5rem;
  text-transform: uppercase;
  position: absolute;
  top: 5px;
  left: 5px; // Positioned at the top-left
  z-index: 10; // Ensure it's above the code content
}

// Language label styles
.code-label {
  @each $language, $_ in $language-colors {
    &.label-#{$language} {
      @include base-label-style($language);
    }
  }
}

// Clipboard button styles
.clipboard-button {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
  background-color: transparent;
  border: "##3D444D";
  border-radius: 3px;

  svg {
    fill: #9198A1; // Use the desired color
    width: 16px;
    height: 16px;
  }
}

// Styling for pre blocks
pre {
  background-color: var(--bg-primary) !important;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  line-height: 1.4;
  padding: 1em;
  position: relative; // Make sure absolute elements like the label and button work
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  code {
    background-color: transparent !important;
    color: inherit;
    font-size: 100%;
    padding: 0;
    border: none;
  }
}

pre::-webkit-scrollbar {
  height: 8px;
}

pre::-webkit-scrollbar-thumb {
  background-color: #3D444D;
  border-radius: 4px;
}

pre::-webkit-scrollbar-track {
  background-color: #1E222A;
}

a {
  code:hover {
    background-color: transparent;
  }
}


code {
  color: var(--text-color);
  background-color: var(--bg-primary);
}
