{% extends "index.html" %}
{% import "post_macros.html" as post_macros %}

{% block content %}

<article itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <h1 itemprop="headline">{{ page.title }}</h1>
        <span class="muted">{{ post_macros::meta(page=page) }}</span>
    </header>
    <div itemprop="articleBody">
      {{ page.content | safe }}
    </div>

    {% block page_footer %}
        <footer>
            <hr>
            <p>
                {% if config.extra.author %}
                    Published by {{ config.extra.author }}
                {% endif %}
            </p>
        </footer>
    {% endblock page_footer %}
</article>

{% endblock content %}

