{% extends "index.html" %}
{% import "post_macros.html" as post_macros %}

{% block content %}

<article itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <h1 itemprop="headline">{{ page.title }}</h1>
        <span class="muted">{{ post_macros::meta(page=page) }}</span>
    </header>
    <div itemprop="articleBody">
      {{ page.content | safe }}
    </div>

    {% block page_footer %}
        <footer>
            <hr>
            <p>
                {% if config.extra.author %}
                    Published by {{ config.extra.author }}
                {% endif %}
                {% if page.category %}
                    in <a href="{{ get_taxonomy_url(kind="category", name=page.category) }}">{{ page.category }}</a>
                {% endif %}
                {% if page.tags %}
                    and tagged
                    {% for tag in page.tags %}
                        <a href="{{ get_taxonomy_url(kind="tag", name=tag) }}">{{ tag }}</a>
                        {% if page.tags | length > 1 %}
                            {% if loop.index != page.tags | length %}
                                {% if loop.index == page.tags | length - 1 %}
                                    and
                                {% else %}
                                    ,
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </p>
        </footer>
    {% endblock page_footer %}
</article>

{% endblock content %}

